<div class="well login-box3 center-block">
  <form method="POST" action="/signup">
    <img style=" height:100px" src="/assets/updatedSML.png"></img>
    <input required value="{{register.firstname}}" type="text" name="firstname" class="spacing form-control" placeholder="First Name">
    <input required value="{{register.lastname}}" type="text" name="lastname" class="spacing form-control" placeholder="Last Name">
    <input required value="{{register.username}}" type="text" name="username" class="spacing form-control" placeholder="Username">
    <input required value="{{register.password}}" type="password" name="password" class="form-control" placeholder="Password">
    <input required value="{{register.passwordRepeat}}" type="password" name="passwordRepeat" class="form-control" placeholder="Verify Password">
    <button class="btn1 btn-primary">Register</button>
  </form>
</div>

{{#each errors}}
    <center><div class="well2 alert alert-danger" role="alert">{{msg}}</div></center>
{{/each}}

<div class="well login-box2 center-block">
  <form class="" action="/login" method="GET">
    <h4>Already have an account?</h4>
    <button class="btn2 btn-success" href="/login">Log In</button>
  </form>
</div>
