{{!-- <div class ='row'>
  <div class = 'col-md-6'>
  </div>
  <div class = 'col-md-6'>
    <div id='headwearContainer'>
      {{#each wardrobe.headwear}}
      <div class = 'col-md-6'>
        <img src='/public/images/{{this.image}}'/>
      </div>
      {{/each}}
    </div>
    <div id='topContainer'>
      {{#each wardrobe.tops}}
      <div class = 'col-md-6'>
        <img src='/public/images/{{this.image}}'/>
      </div>
      {{/each}}
    </div>
    <div class = 'hidden' id='pantContainer'>
      {{#each wardrobe.pants}}
      <div class = 'col-md-6'>
        <img src='/public/images/{{this.image}}'/>
      </div>
      {{/each}}
    </div>
    <div class = 'hidden'  id='footContainer'>
      {{#each wardrobe.footwear}}
      <div class = 'col-md-6'>
        <img src='/public/images/{{this.image}}'/>
      </div>
      {{/each}}
    </div>
    <div class = 'hidden well'  id='lookContainer'>
      {{#each user.looks}}
      <div class = 'col-md-6'>
        <img src='/public/images/{{this.headwear.image}}'/>
        <img src='/public/images/{{this.top.image}}'/>
        <img src='/public/images/{{this.pants.image}}'/>
        <img src='/public/images/{{this.footwear.image}}'/>
      </div>
      {{/each}}
    </div>
  </div>
</div>
<style>
.hidden{
  border: solid 2px black;
}
</style>
 --}}
<div class="row">
  <div class="col-sm-12">

    <div class="page-header">
        <h3>Your Wardrobe</h3>
        <p>Add Items to Cart and Customize Looks</p>
    </div>

    <div id="myCarousel" class="row carousel slide" data-ride="carousel">
      <!-- Wrapper for slides -->
      <div class="carousel-inner">

        <div class="item active">

          <ul class="thumbnails">
            <li class="col-sm-12">
              <div class="row">
                <div class="thumbnail col-sm-3">
                  <a href="#"><img src="/images/avatar-1533250276178.jpg" alt=""></a>
                </div>
                <div class="col-sm-9">asdfads</div>
              </div>
              <div class="row">
                <div class="thumbnail col-sm-3">
                  <a href="#"><img src="/images/avatar-1533250276178.jpg" alt=""></a>
                </div>
                <div class="col-sm-9">asdfads</div>
              </div>
              <div class="row">
                <div class="thumbnail col-sm-3">
                  <a href="#"><img src="/images/avatar-1533250276178.jpg" alt=""></a>
                </div>
                <div class="col-sm-9">asdfads</div>
              </div>
              <div class="row">
                <div class="thumbnail col-sm-3">
                  <a href="#"><img src="/images/avatar-1533250276178.jpg" alt=""></a>
                </div>
                <div class="col-sm-9">asdfads</div>
              </div>

              <div class="caption-box">
                <h4>Item Price</h4>
                <p>Item Description</p>
                <p>Item Link</p>
                <a class="btn btn-success btn-mini" href="#">Add to Cart</a>
              </div>
            </li>
          </ul>
        </div><!-- /Slide1 -->

<!--
        <div class="item">
          <ul class="thumbnails">
            <li class="col-sm-3">
              <div class="thumbnail">
                <a href="#"><img src="/images/avatar-1533250276178.jpg" alt=""></a>
              </div>
              <div class="caption-box">
                <h4>Item Price</h4>
                <p>Item Description</p>
                <p>Item Link</p>
                <a class="btn btn-success btn-mini" href="#">Add to Cart</a>
              </div>
            </li>

            <li class="col-sm-3">
              <div class="thumbnail">
                <a href="#"><img src="/images/avatar-1533250276178.jpg" alt=""></a>
              </div>
              <div class="caption-box">
                <h4>Item Price</h4>
                <p>Item Description</p>
                <p>Item Link</p>
                <a class="btn btn-success btn-mini" href="#">Add to Cart</a>
              </div>
            </li>

            <li class="col-sm-3">
              <div class="thumbnail">
                <a href="#"><img src="/images/avatar-1533250276178.jpg" alt=""></a>
              </div>
              <div class="caption-box">
                <h4>Item Price</h4>
                <p>Item Description</p>
                <p>Item Link</p>
                <a class="btn btn-success btn-mini" href="#">Add to Cart</a>
              </div>
            </li>

            <li class="col-sm-3">
              <div class="thumbnail">
                <a href="#"><img src="/images/avatar-1533250276178.jpg" alt=""></a>
              </div>
              <div class="caption-box">
                <h4>Item Price</h4>
                <p>Item Description</p>
                <p>Item Link</p>
                <a class="btn btn-success btn-mini" href="#">Add to Cart</a>
              </div>
            </li>
          </ul>
        </div> /Slide2 -->

      </div><!-- /Wrapper for slides .carousel-inner -->

      <!-- Control box -->
      <div class="control-box">
        <a data-slide="prev" href="#myCarousel" class="carousel-control left">‹</a>
        <a data-slide="next" href="#myCarousel" class="carousel-control right">›</a>
      </div><!-- /.control-box -->

    </div><!-- /#myCarousel -->
  </div><!-- /.col-sm-12 -->
</div><!-- /.row -->

<style>
  /* Global */
  html {
    font-size: 100% !important;
  }

  body {
      background: #fafafa;
      padding: 40px;
  }

  img {
    max-width:100%;
  }

  a {
    -webkit-transition: all 150ms ease;
    -moz-transition: all 150ms ease;
    -ms-transition: all 150ms ease;
    -o-transition: all 150ms ease;
    transition: all 150ms ease;
  }

  a:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
    filter: alpha(opacity=50); /* IE7 */
    opacity: 0.6;
    text-decoration: none;
  }


  /* Container */
  .container {
    background: #FFFFFF;
    margin: 40px auto;
    padding: 20px 40px 50px;
    max-width: 960px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  }

  /* Page Header */
  .page-header {
    background: #f9f9f9;
    margin: -30px -40px 40px;
    padding: 20px 40px;
    border-top: 4px solid DodgerBlue;
    color: #999;
  }
  .page-header h3 {
    line-height: 0.88rem;
    color: #000;
  }

  .thumbnail {
    border: 1px solid DodgerBlue;
  }

  /* Boxes
  ------------------------------------------------ */

  /* List style */
  ul.thumbnails {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .caption-box h4 {
    font-size: 0.94rem;
    color: #444;
  }
  .caption-box p {
    font-size: 0.75rem;
    color: #999;
  }
  .btn.btn-mini {
    font-size: 0.63rem;
  }



  /* Control box
  ------------------------------------------------ */
  .control-box {
    width: 100%;
  }
  .carousel-control{
    background: #666 !important;
    border: 0px;
    border-radius: 0px;
    display: inline-block;
    font-size: 34px;
    font-weight: 200;
    line-height: 18px;
    opacity: 0.5;
    padding: 4px 10px;
    margin: 30px -20px 0;
    height: 30px;
    width: 30px;
  }

  /* Mobile only
  ------------------------------------------------ */
  @media (max-width: 767px) {
      .page-header { text-align: center; }
  }
  @media (max-width: 479px) {
      .caption-box { word-break: break-all; }
      ul.thumbnails li { margin-bottom: 30px; }
  }


  /* ADD-ON
  ------------------------------------------------ */
  ::-moz-selection {
    background: #ff5e99; color: #FFFFFF;
  }

  a, a:focus, a:active, a:hover, object, embed {
    outline: none;
  }
  :-moz-any-link:focus {
    outline: none;
  }
  input::-moz-focus-inner {
    border: 0;
  }
</style>

<script>
  $(document).ready(function() {
    $('.carousel').carousel({
      interval: 15000
    })
  });
</script>
